.navbar-default, .navbar-nav > li > a, .dropdown-menu {
    
    border: 0 none;
    color: #1C3AA9 !important;
   
    
}

.navbar-brand{
    padding-left: 50px;
} 


#navigation-bar{
    background-color: white;
    
}
.navbar-btn{
padding-right: 50px;
margin-right: 90px;
text-align: center;

}
.hero-section{
    height: 50px;
    background-color: #1C3AA9;
}
ul{
    margin-left:auto;margin-right:auto;
    text-align: center;
    color: #1C3AA9;
    font-size: 18px;
    margin-left: 240px;
}